<!-- 
<div>
    <div>
        <form action="/room/updateroom" method="POST">
            <label for="title">Title: </label>
            <input type="text" id="title" name="title" placeholder=""><br>
            <label for="description">Room Description: </label>
            <input type="text" id="description" name="description" placeholder=""><br>
            <label for="limit">Room Limit: </label>
            <input type="number" step="1" id="limit" name="limit" placeholder=""><br>
            <!--
        <label for="editmember">Edit Members </label>
        <input type="button" id="editmember" name:"editmember" placeholder=""> 
<button type="submit">Submit</button>
</form>
{{#if message}}
<p>{{this.message}}</p>
{{/if}}
</div>
<div>
    <h3>Change access levels</h3>
    <p>Select if you want to promote or demote:</p>
    <form action="/room/levels" method="POST">
        <ul>
            {{#each lowerLevels}}
            <li>
                <label for="action">{{this.username}} </label>
                <select name="action">
                    <option value="" selected>Do nothing</option>
                    <option value="{{this.userId}},1,{{this.flairLevel}}">promote</option>
                    <option value="{{this.userId}},0,{{this.flairLevel}}">demote</option>
                </select>
            </li>
            {{/each}}
        </ul>
        <button type="submit">Submit</button>
    </form>
    {{#if message3}}
    <p>{{this.message3}}</p>
    {{/if}}
</div>
<div>
    <h3>Kick users</h3>
    <p>Select the members you want to kick</p>
    <form action="/room/remove" method="POST">
        <ul>
            {{#each lowerLevels}}
            <li> <label for="action">{{this.username}} </label>
                <select name="action">
                    <option value="" selected>Do nothing</option>
                    <option value="{{this.userId}}">kick</option>
                </select>
            </li>
            {{/each}}
        </ul>
        <button type="submit">Submit</button>
    </form>
    {{#if message2}}
    <p>{{this.message2}}</p>
    {{/if}}
</div>
</div>

<a href="/room/{{roomid}}">Go back to Room</a>
</div> -->

<script src="/public/levels.js"></script>

<div class="a2 page-wrapper bg-gra-01 p-t-180 p-b-100 font-poppins">
    <div class="wrapper wrapper--w780">
        <div class="card card-3">
            <div class="card-heading"></div>
            <div class="card-body">
                <h1 class="title">Edit room</h1>
                <h3>Edit room details:</h3>
                <form class="a1" action="/room/updateroom" method="POST">
                    <div class="input-group">
                        <Label for="title">Title</Label>
                        <input class="input--style-3" type="title" id="title" placeholder="" name="title">
                    </div>
                    <div class="input-group">
                        <Label for="description">Description</Label>
                        <input class="input--style-3" type="text" id="description" placeholder="" name="description">
                    </div>
                    <div class="input-group">
                        <Label for="limit">Room Limit</Label>
                        <input class="input--style-3" type="number" step="1" id="limit" placeholder="" name="limit">
                    </div>
                    <div class="p-t-10">
                        <a href="/">
                            <button class="btn btn--pill btn--green" type="submit">Submit</button>
                        </a>
                    </div>
                </form>
                {{#if message}}
                <p>{{ this.message }}</p>
                {{/if}}

                <p class="p-t-30"></p>
                <h3>Change access levels</h3>
                <p>Select if you want to promote or demote:</p>
                <form class="a1" action="/room/levels" method="POST">
                    <ul>
                        {{#each lowerLevels}}
                        <li>
                            <label for="action">{{this.username}} </label>
                            <select name="action">
                                <option value="" selected>Do nothing</option>
                                <option value="{{this.userId}},1,{{this.flairLevel}}">promote</option>
                                <option value="{{this.userId}},0,{{this.flairLevel}}">demote</option>
                            </select>
                        </li>
                        {{/each}}
                    </ul>
                    <div class="p-t-10">
                        <a href="/">
                            <button class="btn btn--pill btn--green" type="submit">Submit</button>
                        </a>
                    </div>
                </form>
                {{#if message}}
                <p>{{ this.message }}</p>
                {{/if}}

                <p class="p-t-30"></p>
                <h3>Kick Users</h3>
                <p>Select users you want to kick:</p>
                <form class="a1" action="/room/remove" method="POST">
                    <ul>
                        {{#each lowerLevels}}
                        <li>
                            <label for="action">{{this.username}} </label>
                            <select name="action">
                                <option value="" selected>Do nothing</option>
                                <option value="{{this.userId}},1,{{this.flairLevel}}">promote</option>
                                <option value="{{this.userId}},0,{{this.flairLevel}}">demote</option>
                            </select>
                        </li>
                        {{/each}}
                    </ul>
                    <div class="p-t-10">
                        <a href="/">
                            <button class="btn btn--pill btn--green" type="submit">Submit</button>
                        </a>
                    </div>
                </form>
                <div class="p-t-30">
                    <a class="c-blue" href="/room/{{roomid}}">Go back to Room</a>
                    {{#if message}}
                    <p>{{ this.message }}</p>
                    {{/if}}
                </div>


            </div>
        </div>
    </div>
</div>

<!-- Jquery JS-->
<script src="vendor/jquery/jquery.min.js"></script>
<!-- Vendor JS-->
<script src="vendor/select2/select2.min.js"></script>
<script src="vendor/datepicker/moment.min.js"></script>
<script src="vendor/datepicker/daterangepicker.js"></script>

<!-- Main JS-->