<ul>
    <li>username: {{item.username}}</li>
    <li>firstname: {{item.firstName}}</li>
    <li>lastname: {{item.lastName}}</li>
    <li>profession: {{item.Profession}}</li>
    <li>bio: {{item.Bio}}</li>
</ul>

<p><a href="/logout">logout</a></p>